@model Spicee.DomainModels.Category
@{ ViewBag.Title = "Delete"; }

<br />
<h2 class="text-info">Delete Category</h2>
<br />

<form action="/Category/Delete" method="post" enctype="multipart/form-data">
    <div class="border backgroundWhite">
        <div class="form-group row">
            @Html.LabelFor(m => m.Name)
            @Html.HiddenFor(m => m.Id)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "field-validation-error text-danger" })
        </div>
        @*<div class="form-group row">
                <div class="col-5 offset-2">
                    <partial name="_DeleteAndBackToListButton" model="Model.Id" />
                </div>
            </div>*@
    </div>
    <button type="submit" class="btn btn-success">Delete</button>
    <a class="btn btn-dark" href="/Category/Index">Cancel</a>
</form>
